.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    top: 0;
    position: sticky;
    z-index: 999;
    background-color: white;
    margin-left: 1em;
}

.header__logo{
    height: 25px;
    object-fit: contain;
    margin-left: 20px;
}

.header__left{
    display: flex;
    align-items: center;
}

.header__search{
    display: flex;
    align-items: center;
    width: 40%;
    border : 1px solid lightgray;
    border-radius: 30px;
}

.header__search> input{
    flex: 1;
    border: none;
    outline: none;
    border-radius: 30px;
    padding-left: 1em;
    font-size: 18px;
}

.header__search__inputIcon{
    margin-right: 15px;
    margin-top: 5px;
    
}

.header__icons{
    display: flex;
    align-items: center;
}