.videoCard{
    margin-bottom: 20px;
    width : 310px;
    height: 270px;
}

.videoCard__thumbnail{
    height: 180px;
    width : 300px;
    border-radius: 10px;
}

#videoCard__info{
    display: flex;
    margin-top: 10px;
    padding-right: 20px;
    line-height: 15px;
}

.videoCard__text{
    margin-left: 15px;
    margin-top: -20px;
}

.videoCard__text > h5{
    font-size : 14px;
    font-weight: 500;
    margin-bottom: 5px;
}

.videoCard__text > p{
    font-size : 14px;
    line-height: 2px;
    color: gray;
}