.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7em;
    top: 0;
    position: sticky;
    z-index: 999;
    background-color: white;
}

.header__logo{
    height: 25px;
    object-fit: contain;
    margin-left: 1em;
}

.header__left{
    display: flex;
    align-items: center;
}

.header__search{
    display: flex;
    align-items: center;
    width: 40%;
    border : 1px solid black;

}

.header__search> input{
    flex: 1;
    border: none;
    outline: none;
    margin-left: 5px;
}

.header__search__inputIcon{
    width: 50px !important;
    background-color: #fafafa;
    border-left: 1px solid lightgray;
    color: gray;
}

.header__icons{
    display: flex;
    align-items: center;
}

.header__icon{
    margin-right: 0.5em;
}